@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}



<div id="data-container" style="margin-top: 40px;">
    <h2 id="form-title">Ваши данные</h2>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <label for="name-input" class="input-label">Имя*</label>
    <input asp-for="Input.FirstName" type="text" id="name-input" placeholder="Введите имя" required>

    <label for="email-input" class="input-label">Номер телефона*</label>
    <input asp-for="Input.LastName" type="tel" id="email-input" placeholder="Введите номер телефона" required>

    <label for="email-input" class="input-label">E-Mail*</label>
    <input asp-for="Input.Email" type="email" id="email-input" placeholder="Введите email" required>

    
    
    
    <div style="display: none" class="form-floating mb-3">
            <input asp-for="Input.Password" value="Admin123!" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div style="display: none" class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" value="Admin123!" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

    <button type="submit" id="submit-client-button">Стать клиентом</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
